<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.picture" alt="Photo of a Shiba Inu">
  <mat-card-content *ngIf="toggleDescription">
    <p>
      {{recipe.description}}
    </p>
    <div>
      <h1>Ingrédients</h1>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}}
        </li>
      </ul>
    </div>
    <div>
      <h1>Instructions</h1>
      <ul>
        <li *ngFor="let instruction of recipe.instructions | strToArray">
          {{instruction}}
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/recipes/{{recipe.id}}">Voir détail</button>
    <button mat-raised-button color="primary" (click)="handleToggleDescription()">toggleDescription</button>
  </mat-card-actions>
</mat-card>
